.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.card {
    border: 2px solid black;
    display: block;
    margin-inline: auto;
    padding-top: 10px;
    width: min(90%, 1000px);
}

.home-btn {
    width: 52.5%;
    background-color: rgb(125, 58, 187);
    font-size: 16px;
    margin-top: 20px;
}